@using Fta.CarbonAware.Web.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if  (Model.ShowCreateBooking)
    {
        <a asp-area="">Book Flight</a>
    }
</div>
